.about {
  padding: 150px 70px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__img-wrapper {
display: flex;
gap: 30px;
}

.about__title {
  margin: 0 0 60px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
  text-align: center;
}

.about__image {
  width: 50%;
  object-fit: cover;
}

.about__video {
width: 50%;
}

.about__text {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  margin-top: 60px;
  max-width: 1300px;
}
