.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.cards__item {
  max-width: 360px;
  margin-right: 10px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  margin: 0;
  width: 100px;
  height: auto;
}

.cards__title {
  margin-bottom: 25px;
  margin-top: 37px;

  font-size: 18px;
  line-height: 1.35;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
}
