.header {
  padding: 0;
  /* padding: 16px 16px 0; */
  display: flex;
  /* align-items: center;
  justify-content: space-between;
  background-color: transparent; */
  font-family: 'Open Sans';

  min-height: 100vh;
  width: 100%;
  background-image: url(../../../images/lead.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* z-index: -5; */
}

.header::after {
  content: "";
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99000000', endColorstr='#99000000');
  z-index: 10;
}


.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 15;
}

.header__nav-group {
  display: flex;
  list-style: none;
  padding: 0;
  width: 35%;
  justify-content: space-between;
}

.header__nav-item {
  padding: 0 15px;
}

.header__nav-item:first-child {
  padding: 0;
}

.header__nav-item:last-child {
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header__logo {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Forum", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  /* font-weight: 600; */
  color: white;
  letter-spacing: 3px;
}

/*
@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 20px 0;
  }
} */
