.portfolio {
  padding: 150px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding-top: 75px;
}
.gallery__row {
  display: flex;
  /* width: 100%; */
  gap: 10px;
  margin-bottom: 10px;
}

.gallery__image {
  width: 65%;
  object-fit: cover;
}

.gallery__row_order_first .gallery__image:last-of-type {
  width: 35%;
}

.gallery__row_order_second .gallery__image:first-of-type {
  width: 35%;
}
