.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav-group {
  display: flex;
  list-style: none;
  padding: 0;
  width: 35%;
  justify-content: space-between;
}

.header__nav-item {
  padding: 0 15px;
}

.header__nav-item:first-child {
  padding: 0;
}

.header__nav-item:last-child {
  padding: 0;
}

.header__nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

/* .header__logo-img {
  background-image: url(../../../images/roof.svg);
  background-repeat: no-repeat;
  width: 160px;
  height: 45px;
  object-fit: contain;
  background-size: contain;
 }

 .header__logo-text {
   margin: 0;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Forum', 'Arial', 'Helvetica', sans-serif;
   font-size: 24px;
   /* font-weight: 600; */
/* color: white;
   letter-spacing: 3px;
 } */

.header__logo {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Forum", "Arial", "Helvetica", sans-serif;
  font-size: 30px;
  /* font-weight: 600; */
  color: white;
  letter-spacing: 3px;
}

.lead {
  min-height: 100vh;
  width: 100%;
  background-image: url(../../../images/lead.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lead::after {
  content: "";
  width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99000000', endColorstr='#99000000');
  z-index: -1;
}

/* .lead__filter {
    position: absolute;
  top: 0;
  left: 0;
} */

.lead__title {
  margin: 0;
  font-size: 68px;
  font-weight: 700;
  line-height: 1.17;
  color: white;
  padding-top: 140px;
}

.lead__subtitle {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.55;
  color: white;
  z-index: 10;
}

.lead__btn {
  color: rgb(255, 255, 255);
  background-color: #3f999f;
  border-radius: 30px;
  margin-top: 84px;
  z-index: 5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
  padding: 0 60px;
  text-align: center;
}

.arrow-container {
  width: 25px;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 2000ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
  margin-top: 50px;
}

.arrow-down {
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 8px;
}
.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 8px;
  background: white;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

.services {
  padding-top: 100vh;
  padding-bottom: 150px;
}

.services__title {
  margin: 0 0 30px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
  text-align: center;
}

.services__subtitle {
  margin: auto;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  max-width: 560px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.cards__item {
  max-width: 360px;
  margin-right: 10px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  margin: 0;
  width: 100px;
  height: auto;
}

.cards__title {
  margin-bottom: 25px;
  margin-top: 37px;

  font-size: 18px;
  line-height: 1.35;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
}

.about {
  padding: 150px 0;
  background-color: #f0f0f0;
}

.about__title {
  margin: 0 0 30px;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.23;
  text-align: center;
}

.about__image {
  max-width: 380px;
}

.about__text {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
}
