@font-face {
  src: url("open-sans-300.woff") format('woff');
  src: url("open-sans-300.woff2") format('woff2');
  font-family: 'Open Sans';
  font-style:  normal;
  font-weight: 300;
}

@font-face {
  src: url("open-sans-regular.woff") format('woff');
  src: url("open-sans-regular.woff2") format('woff2');
  font-family: 'Open Sans';
  font-style:  normal;
  font-weight: 400;
}

@font-face {
  src: url("open-sans-600.woff") format('woff');
  src: url("open-sans-600.woff2") format('woff2');
  font-family: 'Open Sans';
  font-style:  normal;
  font-weight: 600;
}

@font-face {
  src: url("open-sans-700.woff") format('woff');
  src: url("open-sans-700.woff2") format('woff2');
  font-family: 'Open Sans';
  font-style:  normal;
  font-weight: 700;
}

@font-face {
  src: url("forum-regular.woff") format('woff');
  src: url("forum-regular.woff2") format('woff2');
  font-family: 'Forum';
  font-style:  normal;
  font-weight: 400;
}
